<h1>Edit "<%= @form.name %>"</h1>

<% if @form.id %>
    <p class="bg-info">
      You can integrate this form into an existing HTML website:<br/>
      <code>
        &lt;form action=&quot;<%=submit_url(@form.id) %>&quot; method=&quot;post&quot;&gt;<br/>
        &lt;input type=&quot;hidden&quot; name=&quot;referrer&quot; value=&quot;&quot;/&gt;&lt;!- page user came from -&gt;<br/>
        &lt;input type=&quot;hidden&quot; name=&quot;satisfaction&quot; value=&quot;&quot;/&gt;&lt;!- satisfaction from 0 to 100 -&gt;<br/>
        &lt;INPUT TYPE=FILE NAME=&quot;file&quot;&gt; &lt;!- can attach a file called file -&gt;<br/>        &lt;/form&gt;
      </code>
    </p>
    <% end %>

<%= form_for @form do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :website, "Website/Property" %>
    <%= f.text_field :website %>
    <%= f.label :redirect_url, "URL to redirect to after submission" %>
    <%= f.text_field :redirect_url %>
    <%= f.label :output_ids, "Outputs:" %>
    <%= f.collection_check_boxes :output_ids, Output.all, :id, :name%>
    <textarea class="is-visuallyhidden" name="form[input_fields]" id="form_input_fields">
      </textarea>
    <div id='editor_holder'></div>
    <%= f.submit "Save" %>
<% end %>

<script>
  // Initialize the editor with a JSON schema
  var $output = document.getElementById('form_input_fields');
  var startval = [];
  <% if @form.id %>
  $.getJSON( "<%= form_path(@form) +'.json' %>", function( data ) {
    startval = data.input_fields;
    init_editor();
  });
  <% else %>
  init_editor();
  <% end %>

  function init_editor(){
    var editor = new JSONEditor(document.getElementById('editor_holder'), {
      // Enable fetching schemas via ajax
      ajax: true,

      // The schema for the editor
      schema: {
        $ref: "<%= asset_path('inputfields.json') %>",
        format: "grid"
      },
      disable_properties: true,
      <% if @form.id %>
      // Seed the form with a starting value
      startval: startval
      <% end %>
    });
    editor.on('change', function () {
      var json = editor.getValue();

      $output.value = JSON.stringify(json, null, 2);
    });
  }


</script>