<h1><%= @form.name %></h1>
<%= link_to "Edit", edit_form_path(@form.id), class: "btn btn-primary pull-right" %>

Website: <%= @form.website %><br/>
Input Fields:
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>

    </tr>
    </thead>
    <tbody>
    <% if not @form.input_fields.nil? %>
    <% @form.input_fields.each do |input| %>
        <tr>
          <td><%= input['name'] %></td>
        </tr>
        <% end %>
        <% end %>
    </tbody>
  </table>
</div>

Outputs:
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>

    </tr>
    </thead>
    <tbody>
<% @form.outputs.each do |output| %>
    <tr>
      <td><%= link_to output.name, output_path(output) %></td>
      <td><%= output.type %></td>

    </tr>
<% end %>
</tbody>
</table>
  </div>

Recent Submissions:
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Date/Time</th>
      <th>Content</th>

    </tr>
    </thead>
    <tbody>

    <% @form.submissions.limit(10).order(created_at: :desc).each do |submission| %>
        <tr>
          <td><%= link_to submission.created_at, '/submissions/'+submission.id %></td>
          <td><%= submission.content %></td>

        </tr>
        <% end %>

    </tbody>
  </table>
</div>