<h1><%= @output.name %></h1>
<%= link_to "Edit", edit_output_path(@output.id), class: "btn btn-primary pull-right" %>

Type: <%= @output.type %><br/>

Forms:
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>

    </tr>
    </thead>
    <tbody>
    <% @output.forms.each do |form| %>
        <% if form %>
          <tr>
          <td><%= link_to form.name, form %> </td>
        </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
</div>
Configuration: <pre><%= @output.configuration %></pre><br/>
Output Jobs:
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Date Created</th>
      <th>Success?</th>
      <th>Result</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @output.output_jobs.each do |output_job| %>
        <tr>
          <td><%= link_to output_job, output_job_path(output_job) %> </td>
          <td><%= output_job.success or 'unknown' %></td>
          <td><%= output_job.result or 'unknown' %></td>
          <td><%= link_to 'Run synchronously', output_job_run_path(output_job) %>
            <%= link_to 'Queue to run', output_job_queue_path(output_job) %> </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>