!!! 5
<!--[if IE]><![endif]-->
<!--[if lt IE 7 ]>
<html lang="en-AU" class="ie6 no-js">    <![endif]-->
<!--[if IE 7 ]>
<html lang="en-AU" class="ie7 no-js">    <![endif]-->
<!--[if IE 8 ]>
<html lang="en-AU" class="ie8 no-js">    <![endif]-->
<!--[if IE 9 ]>
<html lang="en-AU" class="ie9 no-js">    <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en-AU" class="no-js"><!--<![endif]-->

= render 'application/head',  title: (content_for?(:title) ? "#{yield(:title)} | Backchat" : 'Backchat' )
%body.uikit-body.uikit-grid
  %div.header-wrapper
  %div.uikit-skip-link
    %a.uikit-skip-link__link{href: "#content"}
      Skip to main content
  %div.header
    %div.uikit-header.uikit-header--dark
      %section.govau--header
        %div.container-fluid
          %div.row
            %div.col-md-12
        - if content_for?(:header)
          = yield(:header)
        - else
          %h1.header__title.uikit-display-md
            %a{href: "/"}
              backchat
      %div.mainmenu.uikit-body.uikit-body--dark
        %div.container-fluid
          %div.row
            %div.col-md-12
              %nav.navigation.navigation--dark
                %ul.uikit-link-list.uikit-link-list--inline
                  - if current_user
                    %li
                      =image_tag "//www.gravatar.com/avatar/"+@email_hash+"?s=23" , class: "gravatar"
                      =current_user.email
                    %li
                      =link_to "Profile", edit_user_path(id: current_user.id)
                    %li
                      =link_to "Account", edit_user_registration_path
                    %li
                      =link_to 'Logout', destroy_user_session_path, :method => :delete

                %ul.uikit-link-list.mainmenu--right.uikit-link-list--inline
                  %li
                    %a{href:"https://github.com/AusDTO/backchat/issues/new", role:"button"}
                      Give feedback


  = yield(:after_header)

  %main.uikit-body
    = render 'application/alerts'
    = yield
  %footer{role: "contentinfo"}
    .wrapper
      %section

</html>


