!!! 5
<!--[if IE]><![endif]-->
<!--[if lt IE 7 ]>
<html lang="en-AU" class="ie6 no-js">    <![endif]-->
<!--[if IE 7 ]>
<html lang="en-AU" class="ie7 no-js">    <![endif]-->
<!--[if IE 8 ]>
<html lang="en-AU" class="ie8 no-js">    <![endif]-->
<!--[if IE 9 ]>
<html lang="en-AU" class="ie9 no-js">    <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en-AU" class="no-js"><!--<![endif]-->

= render 'application/head',  title: (content_for?(:title) ? "#{yield(:title)} | Backchat" : 'Backchat' )
%body.au-body.au-grid
  %div.header-wrapper
  %div.au-skip-link
    %a.au-skip-link__link{href: "#content"}
      Skip to main content
    %a.au-skip-link__link{href: "#nav"}
      Skip to main navigation
  %header.au-header.au-header--dark{role: "banner"}
    %div.container
      %div.row
        %div.col-sm-12
        - if content_for?(:header)
          = yield(:header)
        - else
          %h1.au-header-heading
            %a{href: "/"}
              =image_tag 'noun_36122_inverse.png', height: 32, width: 32
              backchat
    = yield(:after_header)
  %main
    %div.container
      %div.row
        %div.col-sm-4.col-md-2#nav
          %nav.au-inpage-nav-links
            %ul.au-link-list
              - if current_user
                %li
                  =current_user.email
                %li
                  =link_to "Profile", edit_user_path(id: current_user.id)
                %li
                  =link_to "Account", edit_user_registration_path
                %li
                  =link_to 'Logout', destroy_user_session_path, :method => :delete

            %ul.au-link-list.mainmenu--right.au-link-list--inline
              %li
                %a{href:"https://github.com/AusDTO/backchat/issues/new", role:"button"}
                  Give feedback
        %div#content.col-sm-8.col-md-9.col-lg-8.col-md-offset-1.col-lg-offset-2
          = render 'application/alerts'
          = yield
  %footer.au-footer{role: "contentinfo"}
    .wrapper
      %section

</html>


